<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <conversionRule conversionWord="cMDC" class="com.marmitt.application.spring.config.logback.ConditionalMDCConverter" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %cMDC{correlationId,correlation}%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
